<div id="application">
	<div class="col-md-4">
		<div class="col-md-4 col-md-offset-4">
			<img src="assets/images/dummy-logo.png" class="cust-logo" />
		<div class="col-md-4 col-md-offset-4">
	</div>
	<div id="application-content" class="col-md-8">
		<h1>{{title}}</h1>
	</div>
</div>