<div id="login" class="col-md-6 col-md-offset-3 col-xs-12">
	<div class="col-md-4 col-md-offset-4">
		<img src="assets/images/dummy-logo.png" class="cust-logo" />
	</div>
	<div class="clearfix"></div>
	<h3 class="weight-bold text-center">
		{{title}}
	</h3>
	<br>
	<div class="col-xs-12 col-md-12 cust-cont-default">
	
		<form>
		  <div class="form-group">
		    <label for="exampleInputEmail1">Email address</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
		  	<h6 class="weight-thin pull-left text-center">
				"Please supply the email address you've been using in your account"
			</h6>
		  </div>
		  <br>
		  <button type="submit" class="btn btn-primary pull-right">Submit</button>
		</form>
	</div>
	<div class="clearfix"></div>
	<br>
	<a ui-sref="login" class="pull-right weight-regular white">Back to login</a>
</div>


