<div class="row">
	<div id="login" class="col-md-4 col-md-offset-4 col-xs-12">
		<div class="col-md-4 col-md-offset-4">
			<img src="assets/images/dummy-logo.png" class="cust-logo" />
		</div>
		<div class="clearfix"></div>
		<h1 class="weight-bold text-center">
			
			{{title}}
			
		</h1>
		<br>
		<div class="col-xs-12 col-md-12 cust-cont-default">
			<form>
			  <div class="form-group">
			    <label for="exampleInputEmail1">Email address</label>
			    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">Password</label>
			    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			  </div>
			  
			  <div class="checkbox">
			    <label>
			      <input type="checkbox"> Remember me for a week.
			    </label>
			  </div>
			
			</form>
		</div>
		  <button type="submit" class="btn btn-primary col-md-12 primary-big">SUBMIT</button>
		<div class="clearfix"></div>
		<br>
		<a ui-sref="app.dashboard" class="pull-right weight-regular white">Forgot password?</a>
	</div>
</div>


