/**
 * Style Resets
 * ---------------------------------------------------
 * This seperates the color scheme of the app's html
 * elements, this way changing themes would be a push
 * of a button 
 * ---------------------------------------------------
 */
html, body{
	height:100%;
	text-rendering: optimizeLegibility; 
}

div, span, button, input[type="submit"], input, .btn{
	border-radius: 0px !important;
}

body{
	background: #82D2EB;
	background: url('../images/bg-sample-6a.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg-sample-6a.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg-sample-6a.jpg', sizingMethod='scale')";
}

h1, h2, h3, h4, h5, h6{
	font-family: "adelle", serif;
}

label, p, section, small, span, a, button, input, textarea{
	font-family: "museo-slab",serif;
}

a, button, input, textarea{
	font-weight: 100;
	font-weight: 'Thin';
}

button{
	-webkit-transition: background-color ease-in-out .15s;
    -o-transition: background-color ease-in-out .15s;
    transition: background-color ease-in-out .15s;
}

button.primary-small{
	padding: 15px;
}

button.primary-big{
	padding: 20px;
}

/** Custom Styles */
.cust-cont-default{
	padding: 25px;
	
	border: 3px #2c3e50 solid;
}

.cust-cont-default.white{
	background: #FFFFFF;
}

.cust-logo{
	width: 100%;
}

/** Typekit based : Font Helpers */

.weight-light{  
	font-weight: 300;
	font-weight: 'Light';
}

.weight-regular{  
	font-weight: 500;
	font-weight: 'Regular';
}

.weight-bold{  
	font-weight: 700;
	font-weight: 'Bold';
}

.white{
	color:#FFFFFF;
}

a.white:hover,
button.white:hover,{
	color:#2c3e50;
}