<div>
  <form ng-submit="LoginModalController.submit(_email, _password)">
    <input type="email" ng-model="_email" />
    <input type="password" ng-model="_password" />
    <button>Submit</button>
  </form>
  <button ng-click="LoginModalCtrl.cancel()">Cancel</button>
</div>